services:

  dbtest:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test
    ports:
      - "5434:5432"





  adminer:
    image: adminer
    ports:
      - "8080:8080" 
    depends_on:
      - dbtest